$black: #323233;
// $blue: #1989fa;
// $purple: #8080ff;
// $fuchsia: #a7419e;
$blue: #1989fa;
$green: #4fc08d;
$text-color: #34495e;
$dark-grey: #666;
$code-background-color: #f1f4f8;
$border-shadow: 0 8px 12px #ebedf0;
$border-radius: 12px;
$code-font-family: "Source Code Pro", "Monaco", "Inconsolata", monospace;

$six-doc-padding: 30px;
// $text-color: #34495e;
// $text-light-blue: rgba(69, 90, 100, 0.6);
// $background-color: #f7f8fa;
// $grey: #999;
// $dark-grey: #666;
// $light-grey: #ccc;
// $border-color: #f1f4f8;
// $code-color: #58727e;
// $code-background-color: #f1f4f8;
// $code-font-family: "Source Code Pro", "Monaco", "Inconsolata", monospace;
// $padding: 30px;
// $row-max-width: 1680px;

// header
$header-height: 60px;
$header-bg-color: #001938;
// $header-bottom-height: 50px;
// $header-seach-color: #515a6e;

// nav
$nav-width: 220px;
$nav-border-shadow: 0 8px 12px #ebedf0;

//highlidht
$doc-code-color: #58727e;
$doc-code-font-family: "Source Code Pro", "Monaco", "Inconsolata", monospace;
$doc-purple: #8080ff;

// simulator
$simulator-width: 360px;
// $simulator-small-width: 320px;
// $simulator-height: 620px;
// $simulator-small-height: 560px;
